name: anonymizer

defaults:
  run:
    working-directory: .

on:
  workflow_dispatch:

jobs:
  anonymize:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: pip install -r scripts/anonymizer/requirements.txt
      - name: Run anonymizer (Presidio)
        run: python scripts/anonymizer/presidio.py
      - name: Commit
        uses: EndBug/add-and-commit@v9
        with:
          message: "anonymized data"
          add: |
            data/anonymized/*.csv

