name: anonymizer

defaults:
  run:
    working-directory: .

on:
  workflow_dispatch:

jobs:
  anonymize:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.3
      - name: Install dependencies
        run: bun install
      - name: Run anonymizer
        run: bun run scripts/anonymizer/index.ts
      - name: Commit
        uses: EndBug/add-and-commit@v9
        with:
          message: "anonymized data"
          add: |
            data/anonymized/*.csv

