name: langfuse

defaults:
  run:
    working-directory: scripts/

on:
  schedule:
    - cron: 30 0 * * *
  workflow_dispatch:

jobs:
  langfuse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.3 # or "latest", "canary", <sha> #
      - name: Install dependencies
        run: bun install
      - name: Run langfuse fetcher
        run: bun run fetch-langfuse.ts
        env:
          LANGFUSE_PUBLIC_KEY: ${{ secrets.LANGFUSE_PUBLIC_KEY }}
          LANGFUSE_SECRET_KEY: ${{ secrets.LANGFUSE_SECRET_KEY }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          OPENAI_MODEL: ${{ secrets.OPENAI_MODEL }}
      - name: Commit
        uses: EndBug/add-and-commit@v9
        with:
          message: "Aggiunti nuove query da Langfuse"
          add: "data"
